<form method="post" style="display : inline-block" action="{{ path('app_seance_delete', {'id': seance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.id) }}">
   {#  <div class="container mt-4">  #}
        <button class="btn btn-danger">Delete</button>

</form>
